.div2{

  background-image: url(/pexels-miguel-á-padriñán-255379.jpg);  
  color:rgb(0, 10, 10);
  font-size: x-large;
  background-repeat: no-repeat;
  background-size: cover;}

  .div1{

color: rgb(245, 155, 37);

font-size: x-large;
  }