 *{
    margin: 0px;
    padding: 0px;
} 
.container{


    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 26vh 40vh 29vh;
    gap: 1vh;
    width: 60%;
    margin: 1.5vh auto;
}

.green{
    grid-column: 1/4;
    background-color: rgb(8, 146, 8);

}

.blue{
    display: flex;
    grid-column: 1/4;
    background-color: white(209, 21, 21);
    justify-content: space-between;
    background-color: white;

}
.gray{

    display: flex;
    grid-column: 1/4;
    background-color: white(151, 12, 12);
    justify-content: space-between
    
}
.grey-child{
    background-color: gray;
    width: 24%;

}
.blue-child{
    background-color: lightblue;
    width: 32%;
}
@media screen and (min-width:481px) and (max-width:768px)
 {
    .blue{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    background-color: white;
    justify-content: space-between;

}
.blue-child{
    width: 100%;
    background-color: lightblue;
    height: 32%;
   }
   .gray{

   display: flex;
   grid-column: 1/4;
   background-color: white;
   justify-content: space-between;
   align-items:space-between;
   flex-wrap: wrap;
}
.grey-child{
    background-color: gray;
    width: 48%;
    height:48%
     }

    }



    @media screen and (max-width:481px) {
        .container{

    grid-template-rows: 20vh 60vh 20vh;

}
    .blue{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    background-color: white;
    justify-content: space-between;

}
.blue-child{
    width: 100%;
    background-color: lightblue;
    height: 32%;
   }
   .gray{
    background-color: gray;

   grid-column: 1/4;

}
.grey-child{

    display: none;
     }

    }