div {
    border: 1px   gray solid;
    border-radius: 5px;
    margin: 4px;
    width: 300px;
    height: 620px;
    display:inline-block;
    position: relative;
    
}

div p{
    padding: 10px;
    font-size: 18px;
}

img {
    width: 100%;
}

footer{
    color: white;
    background-color: rgb(34, 34, 34);
    width: 94%;
    padding: 10px;
    position: absolute;
    bottom: 0%;
}   
.div1{
    vertical-align: 48px;
}
.div2{
    vertical-align: 86px;        
}